{% extends 'layout.html' %}
{% block mycontent %}

<div class="container" style="margin-left: 25%">
     
        <div class="row">
            <div class="col-sm-6">
            <div class="jumbotron">
                ICTA LOGIN
            </div>
           <form method="POST" action="/send">
 
             <div class="card bg-secondary text-white"> 
                 <div class="row">
                     <br>
                 </div>
                 <div class="row"> 
                     
                         <div class="col-sm-6">name</div>
                         <div class="col-sm-6"><input type="text"name="nm"class="form=control" placeholder="Name"/></div>
                     </div>
                     <br>
                     <div class="row"> 
                            <div class="col-sm-6">MOBILE</div>
                            <div class="col-sm-6"><input type="number"name="mo"class="form=control" placeholder="mobile"/></div>
                        </div>
                        <br>
                     <div class="row">
                         <div class="col-sm-6">email</div>
                         <div class="col-sm-6"><input type="email"name="em" class="form=control"placeholder="email" /></div>
                     </div>
                     <br>
                     <div class="row">
                         <div class="col-sm-6">subject</div>
                         <div class="col-sm-6"><input type="text" name="su"class="form=control"placeholder="subject"/></div>
                     </div>
                     <br>
                     <div class="row">
                            <div class="col-sm-6">message</div>
                            <div class="col-sm-6"><input type="text area" name="me"rows="7" class="form=control"placeholder="message" /></div>
                        </div>
                        <br>
                     <div class="row">
                            <div class="col-sm-6"></div>
                            <div class="col-sm-6">
                            <button type="submit" class="btn btn-info" >
                             SUBMIT 
                            </button>
                    </div>
                    <br>
                        <div class="row">
                            <br>
                        </div>
                        </form>
                    
                     </div>
                     </div>
                 </div>
 
{% endblock %}